<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/stylesheets/background.css">
  <link rel="stylesheet" href="/stylesheets/top_menu.css">
  <link rel="stylesheet" href="/stylesheets/raid.css">
  
  <title>레온하트</title>
</head>
<body>
    <div id="menu">
        <div></div>

        <div id="menu_bar">
            <div class="logo"><a href="/">레온하트</a></div>
            <div class="menu">
                <span class="menu_name"><a href="/schedule">스케쥴</a></span>
                <span class="menu_name"><a href="/raid">레이드</a></span>
            </div>
        </div>
    </div>

    <div>
        <div id="about_raid">
            <div id="raid_list">어비스 레이드</div>
            <div id="abyss_raid">
                <div></div>

                <a href="/raid/mystic">
                    <img src="/images/raid/Mystic.png" alt="미스틱">
                    <div>미스틱</div>
                </a>
                <a href="/raid/kaischter">
                    <img src="/images/raid/Kaischter.png" alt="카이슈테르">
                    <div>카이슈테르</div>
                </a>
                <a href="/raid/argos">
                    <img src="/images/raid/Argos.png" alt="아르고스">
                    <div>아르고스</div>
                </a>

                <div></div>
            </div>
        </div>
        <div id="about_raid">
            <div id="raid_list">군단장 레이드</div>
            <div id="corps_raid">
                <div></div>

                <a href="/raid/valtan">
                    <img src="/images/raid/Valtan.jfif" alt="발탄">
                    <div>발탄</div>
                </a>
                <a href="/raid/biackiss">
                    <img src="/images/raid/Biackiss.jfif" alt="비아키스">
                    <div>비아키스</div>
                </a>
                <a href="/raid/koukusaton">
                    <img src="/images/raid/KoukuSaton.jfif" alt="쿠크세이튼">
                    <div>쿠크세이튼</div>
                </a>
                <a href="/raid/abrelshud">
                    <img src="/images/raid/Abrelshud.jfif" alt="아브렐슈드">
                    <div>아브렐슈드</div>
                </a>
                <div></div>
            </div>
        </div>
</body>
</html>
