<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/stylesheets/background.css">
  <link rel="stylesheet" href="/stylesheets/top_menu.css">
  <link rel="stylesheet" href="/stylesheets/raid_boss.css">
  
  <title>레온하트</title>
</head>
<body>
    <div id="menu">
        <div></div>

        <div id="menu_bar">
            <div class="logo"><a href="/">레온하트</a></div>
            <div class="menu">
                <span><a href="/schedule">스케쥴</a></span>
                <span><a href="/raid">레이드</a></span>
            </div>
        </div>
    </div>

    <div id="main">
        <div id="corps_info">
            <div></div>

            <div>
                <div class="corps_name">티어 3</div>
                <img src="/images/raid/Argos.png" alt="티어 3 아르고스">
                <div class="corps_name">아르고스</div>
    
                <div id="reward">
                    <div class="difficulty">
                        <div class="normal">보상</div>
                        <div>1페이즈</div>
                        <div>2페이즈</div>
                        <div>3페이즈</div>
                    </div>
                </div>
            </div>

            <div></div>
            
        </div>

        <div id="corps_method">
            <div>
                <button id="difficulty_button" name="1관문" type="button" class="myButton" value="1관문">1관문</button>
                <button id="difficulty_button" name="2관문" type="button" class="myButton" value="2관문">2관문</button>
            </div>

            <div id="raid_pattern">
                <div id="health_bar">
                </div>
                <div id="health_pattern">
                </div>
            </div>
        </div>

        <div id="corps_method_info">
            <div></div>

            <div>
                <div class="corps_method_info_table">
                    <div class="stage">1페이즈</div>
                    <div class="battleItems">추천 배틀 아이템</div>
                </div>
                
                <div class="corps_method_info_table">
                    <div class="stage">2페이즈</div>
                    <div class="battleItems">추천 배틀 아이템</div>
                </div>

                <div class="corps_method_info_table">
                    <div class="stage">3페이즈</div>
                    <div class="battleItems">추천 배틀 아이템</div>
                </div>
            </div>

            <div></div>
        </div>
    </div>
</body>
</html>
