<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/stylesheets/schedule_edit.css">
  <link rel="stylesheet" href="/stylesheets/background.css">
  <link rel="stylesheet" href="/stylesheets/top_menu.css">
  
  <title>레온하트</title>
</head>
<body>
  <div id="menu">
    <div></div>
    <div id="menu_bar">
      <div class="logo"><a href="/">레온하트</a></div>
      <div class="menu">
        <span><a href="/schedule/main">스케쥴</a></span>
        <span><a href="/item">아이템</a></span>
        <!-- <span><a href="/raid">레이드</a></span> -->
      </div>
    </div>
  <div></div>
  <div>
    <button id="edit" onclick = "location.href = '/schedule/main'" class="myButton">저장</button>
  </div>
  <div id="editor">
    <div id="group">
      <div id="title_daily">일일 컨텐츠</div>
        <div id="contents">
          <ol class="switches">
            <li id="ChaosDungeon">
            </li>
            <li id="DailyEpona">
            </li>
            <li id="Likeability">
            </li>
            <li id="GuardianSubdue">
            </li>
            <li id="Guild">
            </li>
            <li id="GriefIsland">
            </li>
            <li id="AdventureIsland">
            </li>
            <li id="FieldBoss">
            </li>
            <li id="ChaosGate">
            </li>
          </ol>
        </div>
    </div>
    <div id="group">
      <div id="title_week">주간 컨텐츠</div>
      <div id="contents">
        <ol class="switches">
          <li id="ChallengeGuardianSubdue">
          </li>
          <li id="ChallengeAbyssDungeon">
          </li>
          <li id="AbyssDungeon">
          </li>
          <li id="AbyssRaid">
          </li>
          <li id="WeeksEpona">
          </li>
          <li id="Valtan">
          </li>
          <li id="Biackiss">
          </li>
          <li id="KoukuSaton">
          </li>
          <li id="Abrelshud">
          </li>
          <li id="KoukuSaton_Rehearsal">
          </li>
          <li id="Abrelshud_Dejavu">
          </li>
          <li id="ChaosDiagonal">
          </li>
          <li id="PhantomShip">
          </li>
        </ol>
      </div>
    </div>
    <div id="server_group">
    </div>
  </div>
</body>
<script>
  var char_info = JSON.parse(localStorage.getItem('char_info'))
  var todo = JSON.parse(localStorage.getItem('todo'))
  var on_off = JSON.parse(localStorage.getItem('on_off'))
  var server = JSON.parse(localStorage.getItem('server'))
  var user_data_sort = char_info.sort(function(a,b){
                            return b.레벨 - a.레벨;
                        }); 
  var a = [];
  var b = [];
  var c = [];
  var d = [];
  var e = [];
  var f = [];
  var g = [];
  var h = [];
  for(var i = 0; i < user_data_sort.length; i++){
    if(user_data_sort[i].서버 == "루페온"){
      a.push(user_data_sort[i])
    }
    if(user_data_sort[i].서버 == "실리안"){
      b.push(user_data_sort[i])
    }
    if(user_data_sort[i].서버 == "아만"){
      c.push(user_data_sort[i])
    }
    if(user_data_sort[i].서버 == "카마인"){
      d.push(user_data_sort[i])
    }
    if(user_data_sort[i].서버 == "카제로스"){
      e.push(user_data_sort[i])
    }
    if(user_data_sort[i].서버 == "아브렐슈드"){
      f.push(user_data_sort[i])
    }
    if(user_data_sort[i].서버 == "카단"){
      g.push(user_data_sort[i])
    }
    if(user_data_sort[i].서버 == "니나브"){
      h.push(user_data_sort[i])
    }
  }
  
  if(todo.d1 == "on"){
    document.getElementById("ChaosDungeon").innerHTML = '<input checked id="ChaosDungeon_label" type="checkbox"><label for="ChaosDungeon_label" onClick="ChaosDungeon()"><span>카오스 던전</span><span></span></label>'
  }else{
    document.getElementById("ChaosDungeon").innerHTML = '<input id="ChaosDungeon_label" type="checkbox"><label for="ChaosDungeon_label" onClick="ChaosDungeon()"><span>카오스 던전</span><span></span></label>'
  }
  if(todo.d2 == "on"){
    document.getElementById("DailyEpona").innerHTML = '<input checked id="DailyEpona_label" type="checkbox"><label for="DailyEpona_label" onClick="DailyEpona()"><span>일일 에포나</span><span></span></label>'
  }else{
    document.getElementById("DailyEpona").innerHTML = '<input id="DailyEpona_label" type="checkbox"><label for="DailyEpona_label" onClick="DailyEpona()"><span>일일 에포나</span><span></span></label>'
  }
  if(todo.d3 == "on"){
    document.getElementById("Likeability").innerHTML = '<input checked id="Likeability_label" type="checkbox"><label for="Likeability_label" onClick="Likeability()"><span>호감도</span><span></span></label>'
  }else{
    document.getElementById("Likeability").innerHTML = '<input id="Likeability_label" type="checkbox"><label for="Likeability_label" onClick="Likeability()"><span>호감도</span><span></span></label>'
  }
  if(todo.d4 == "on"){
    document.getElementById("GuardianSubdue").innerHTML = '<input checked id="GuardianSubdue_label" type="checkbox"><label for="GuardianSubdue_label" onClick="GuardianSubdue()"><span>가디언 토벌</span><span></span></label>'
  }else{
    document.getElementById("GuardianSubdue").innerHTML = '<input id="GuardianSubdue_label" type="checkbox"><label for="GuardianSubdue_label" onClick="GuardianSubdue()"><span>가디언 토벌</span><span></span></label>'
  }
  if(todo.d6 == "on"){
    document.getElementById("Guild").innerHTML = '<input checked id="Guild_label" type="checkbox"><label for="Guild_label" onClick="Guild()"><span>길드 출석</span><span></span></label>'
  }else{
    document.getElementById("Guild").innerHTML = '<input id="Guild_label" type="checkbox"><label for="Guild_label" onClick="Guild()"><span>길드 출석</span><span></span></label>'
  }
  if(todo.d7 == "on"){
    document.getElementById("GriefIsland").innerHTML = '<input checked id="GriefIsland_label" type="checkbox"><label for="GriefIsland_label" onClick="GriefIsland()"><span>비탄의 섬</span><span></span></label>'
  }else{
    document.getElementById("GriefIsland").innerHTML = '<input id="GriefIsland_label" type="checkbox"><label for="GriefIsland_label" onClick="GriefIsland()"><span>비탄의 섬</span><span></span></label>'
  }
  if(todo.d8 == "on"){
    document.getElementById("AdventureIsland").innerHTML = '<input checked id="AdventureIsland_label" type="checkbox"><label for="AdventureIsland_label" onClick="AdventureIsland()"><span>모험 섬</span><span></span></label>'
  }else{
    document.getElementById("AdventureIsland").innerHTML = '<input id="AdventureIsland_label" type="checkbox"><label for="AdventureIsland_label" onClick="AdventureIsland()"><span>모험 섬</span><span></span></label>'
  }
  if(todo.d9 == "on"){
    document.getElementById("FieldBoss").innerHTML = '<input checked id="FieldBoss_label" type="checkbox"><label for="FieldBoss_label" onClick="FieldBoss()"><span>필드 보스</span><span></span></label>'
  }else{
    document.getElementById("FieldBoss").innerHTML = '<input id="FieldBoss_label" type="checkbox"><label for="FieldBoss_label" onClick="FieldBoss()"><span>필드 보스</span><span></span></label>'
  }
  if(todo.d10 == "on"){
    document.getElementById("ChaosGate").innerHTML = '<input checked id="ChaosGate_label" type="checkbox"><label for="ChaosGate_label" onClick="ChaosGate()"><span>카오스 게이트</span><span></span></label>'
  }else{
    document.getElementById("ChaosGate").innerHTML = '<input id="ChaosGate_label" type="checkbox"><label for="ChaosGate_label" onClick="ChaosGate()"><span>카오스 게이트</span><span></span></label>'
  }

  if(todo.w1 == "on"){
    document.getElementById("ChallengeGuardianSubdue").innerHTML = '<input checked id="ChallengeGuardianSubdue_label" type="checkbox"><label for="ChallengeGuardianSubdue_label" onClick="ChallengeGuardianSubdue()"><span>도전 가디언 토벌</span><span></span></label>'
  }else{
    document.getElementById("ChallengeGuardianSubdue").innerHTML = '<input id="ChallengeGuardianSubdue_label" type="checkbox"><label for="ChallengeGuardianSubdue_label" onClick="ChallengeGuardianSubdue()"><span>도전 가디언 토벌</span><span></span></label>'
  }
  if(todo.w2 == "on"){
    document.getElementById("AbyssDungeon").innerHTML = '<input checked id="AbyssDungeon_label" type="checkbox"><label for="AbyssDungeon_label" onClick="AbyssDungeon()"><span>어비스 던전</span><span></span></label>'
  }else{
    document.getElementById("AbyssDungeon").innerHTML = '<input id="AbyssDungeon_label" type="checkbox"><label for="AbyssDungeon_label" onClick="AbyssDungeon()"><span>어비스 던전</span><span></span></label>'
  }
  if(todo.w3 == "on"){
    document.getElementById("AbyssRaid").innerHTML = '<input checked id="AbyssRaid_label" type="checkbox"><label for="AbyssRaid_label" onClick="AbyssRaid()"><span>어비스 레이드</span><span></span></label>'
  }else{
    document.getElementById("AbyssRaid").innerHTML = '<input id="AbyssRaid_label" type="checkbox"><label for="AbyssRaid_label" onClick="AbyssRaid()"><span>어비스 레이드</span><span></span></label>'
  }
  if(todo.w4 == "on"){
    document.getElementById("WeeksEpona").innerHTML = '<input checked id="WeeksEpona_label" type="checkbox"><label for="WeeksEpona_label" onClick="WeeksEpona()"><span>주간 에포나</span><span></span></label>'
  }else{
    document.getElementById("WeeksEpona").innerHTML = '<input id="WeeksEpona_label" type="checkbox"><label for="WeeksEpona_label" onClick="WeeksEpona()"><span>주간 에포나</span><span></span></label>'
  }
  if(todo.w5 == "on"){
    document.getElementById("Valtan").innerHTML = '<input checked id="Valtan_label" type="checkbox"><label for="Valtan_label" onClick="Valtan()"><span>발탄</span><span></span></label>'
  }else{
    document.getElementById("Valtan").innerHTML = '<input id="Valtan_label" type="checkbox"><label for="Valtan_label" onClick="Valtan()"><span>발탄</span><span></span></label>'
  }
  if(todo.w6 == "on"){
    document.getElementById("Biackiss").innerHTML = '<input checked id="Biackiss_label" type="checkbox"><label for="Biackiss_label" onClick="Biackiss()"><span>비아키스</span><span></span></label>'
  }else{
    document.getElementById("Biackiss").innerHTML = '<input id="Biackiss_label" type="checkbox"><label for="Biackiss_label" onClick="Biackiss()"><span>비아키스</span><span></span></label>'
  }
  if(todo.w7 == "on"){
    document.getElementById("KoukuSaton").innerHTML = '<input checked id="KoukuSaton_label" type="checkbox"><label for="KoukuSaton_label" onClick="KoukuSaton()"><span>쿠크세이튼</span><span></span></label>'
  }else{
    document.getElementById("KoukuSaton").innerHTML = '<input id="KoukuSaton_label" type="checkbox"><label for="KoukuSaton_label" onClick="KoukuSaton()"><span>쿠크세이튼</span><span></span></label>'
  }
  if(todo.w8 == "on"){
    document.getElementById("Abrelshud").innerHTML = '<input checked id="Abrelshud_label" type="checkbox"><label for="Abrelshud_label" onClick="Abrelshud()"><span>아브렐슈드</span><span></span></label>'
  }else{
    document.getElementById("Abrelshud").innerHTML = '<input id="Abrelshud_label" type="checkbox"><label for="Abrelshud_label" onClick="Abrelshud()"><span>아브렐슈드</span><span></span></label>'
  }
  if(todo.w9 == "on"){
    document.getElementById("KoukuSaton_Rehearsal").innerHTML = '<input checked id="KoukuSaton_Rehearsal_label" type="checkbox"><label for="KoukuSaton_Rehearsal_label" onClick="KoukuSaton_Rehearsal()"><span>쿠크세이튼 리허설</span><span></span></label>'
  }else{
    document.getElementById("KoukuSaton_Rehearsal").innerHTML = '<input id="KoukuSaton_Rehearsal_label" type="checkbox"><label for="KoukuSaton_Rehearsal_label" onClick="KoukuSaton_Rehearsal()"><span>쿠크세이튼 리허설</span><span></span></label>'
  }
  if(todo.w10 == "on"){
    document.getElementById("Abrelshud_Dejavu").innerHTML = '<input checked id="Abrelshud_Dejavu_label" type="checkbox"><label for="Abrelshud_Dejavu_label" onClick="Abrelshud_Dejavu()"><span>아브렐슈드 데자뷰</span><span></span></label>'
  }else{
    document.getElementById("Abrelshud_Dejavu").innerHTML = '<input id="Abrelshud_Dejavu_label" type="checkbox"><label for="Abrelshud_Dejavu_label" onClick="Abrelshud_Dejavu()"><span>아브렐슈드 데자뷰</span><span></span></label>'
  }
  if(todo.w11 == "on"){
    document.getElementById("ChaosDiagonal").innerHTML = '<input checked id="ChaosDiagonal_label" type="checkbox"><label for="ChaosDiagonal_label" onClick="ChaosDiagonal()"><span>혼돈의 사선</span><span></span></label>'
  }else{
    document.getElementById("ChaosDiagonal").innerHTML = '<input id="ChaosDiagonal_label" type="checkbox"><label for="ChaosDiagonal_label" onClick="ChaosDiagonal()"><span>혼돈의 사선</span><span></span></label>'
  }
  if(todo.w12 == "on"){
    document.getElementById("PhantomShip").innerHTML = '<input checked id="PhantomShip_label" type="checkbox"><label for="PhantomShip_label" onClick="PhantomShip()"><span>유령선</span><span></span></label>'
  }else{
    document.getElementById("PhantomShip").innerHTML = '<input id="PhantomShip_label" type="checkbox"><label for="PhantomShip_label" onClick="PhantomShip()"><span>유령선</span><span></span></label>'
  }
  if(todo.w13 == "on"){
    document.getElementById("ChallengeAbyssDungeon").innerHTML = '<input checked id="ChallengeAbyssDungeon_label" type="checkbox"><label for="ChallengeAbyssDungeon_label" onClick="ChallengeAbyssDungeon()"><span>도전 어비스 던전</span><span></span></label>'
  }else{
    document.getElementById("ChallengeAbyssDungeon").innerHTML = '<input id="ChallengeAbyssDungeon_label" type="checkbox"><label for="ChallengeAbyssDungeon_label" onClick="ChallengeAbyssDungeon()"><span>도전 어비스 던전</span><span></span></label>'
  }

  for(var value of server){
    if(value == "루페온"){
      document.getElementById("server_group").innerHTML += '<div id="group"><div id="title">'+value+'</div><div id="contents"><ol id='+value+' class="switches"></ol></div></div>'
      for(var i = 0; i < a.length; i++){
        if(on_off.a[i] == "1"){
          document.getElementById("루페온").innerHTML += '<li><input checked id='+a[i].캐릭터명+'_label" type="checkbox"><label for='+a[i].캐릭터명+'_label" onClick="Char_on_off('+value+','+i+')"><span>'+a[i].캐릭터명+'</span><span></span></label><li>'
        }else{
          document.getElementById("루페온").innerHTML += '<li><input id='+a[i].캐릭터명+'_label" type="checkbox"><label for='+a[i].캐릭터명+'_label" onClick="Char_on_off('+value+','+i+')"><span>'+a[i].캐릭터명+'</span><span></span></label><li>'
        }
      }
    }
    if(value == "실리안"){
      document.getElementById("server_group").innerHTML += '<div id="group"><div id="title">'+value+'</div><div id="contents"><ol id='+value+' class="switches"></ol></div></div>'
      for(var i = 0; i < b.length; i++){
        if(on_off.b[i] == "1"){
          document.getElementById("실리안").innerHTML += '<li><input checked id='+b[i].캐릭터명+'_label" type="checkbox"><label for='+b[i].캐릭터명+'_label" onClick="Char_on_off('+value+','+i+')"><span>'+b[i].캐릭터명+'</span><span></span></label><li>'
        }else{
          document.getElementById("실리안").innerHTML += '<li><input id='+b[i].캐릭터명+'_label" type="checkbox"><label for='+b[i].캐릭터명+'_label" onClick="Char_on_off('+value+','+i+')"><span>'+b[i].캐릭터명+'</span><span></span></label><li>'
        }
      }
    }
    if(value == "아만"){
      document.getElementById("server_group").innerHTML += '<div id="group"><div id="title">'+value+'</div><div id="contents"><ol id='+value+' class="switches"></ol></div></div>'
      for(var i = 0; i < c.length; i++){
        if(on_off.c[i] == "1"){
          document.getElementById("실리안").innerHTML += '<li><input checked id='+c[i].캐릭터명+'_label" type="checkbox"><label for='+c[i].캐릭터명+'_label" onClick="Char_on_off('+value+','+i+')"><span>'+c[i].캐릭터명+'</span><span></span></label><li>'
        }else{
          document.getElementById("실리안").innerHTML += '<li><input id='+c[i].캐릭터명+'_label" type="checkbox"><label for='+c[i].캐릭터명+'_label" onClick="Char_on_off('+value+','+i+')"><span>'+c[i].캐릭터명+'</span><span></span></label><li>'
        }
      }      
    }
    if(value == "카마인"){
      document.getElementById("server_group").innerHTML += '<div id="group"><div id="title">'+value+'</div><div id="contents"><ol id='+value+' class="switches"></ol></div></div>'
      for(var i = 0; i < d.length; i++){
        if(on_off.d[i] == "1"){
          document.getElementById("카마인").innerHTML += '<li><input checked id='+d[i].캐릭터명+'_label" type="checkbox"><label for='+d[i].캐릭터명+'_label" onClick="Char_on_off('+value+','+i+')"><span>'+d[i].캐릭터명+'</span><span></span></label><li>'
        }else{
          document.getElementById("카마인").innerHTML += '<li><input id='+d[i].캐릭터명+'_label" type="checkbox"><label for='+d[i].캐릭터명+'_label" onClick="Char_on_off('+value+','+i+')"><span>'+d[i].캐릭터명+'</span><span></span></label><li>'
        }
      }
    }
    if(value == "카제로스"){
      document.getElementById("server_group").innerHTML += '<div id="group"><div id="title">'+value+'</div><div id="contents"><ol id='+value+' class="switches"></ol></div></div>'
      for(var i = 0; i < e.length; i++){
        if(on_off.e[i] == "1"){
          document.getElementById("카제로스").innerHTML += '<li><input checked id='+e[i].캐릭터명+'_label" type="checkbox"><label for='+e[i].캐릭터명+'_label" onClick="Char_on_off('+value+','+i+')"><span>'+e[i].캐릭터명+'</span><span></span></label><li>'
        }else{
          document.getElementById("카제로스").innerHTML += '<li><input id='+e[i].캐릭터명+'_label" type="checkbox"><label for='+e[i].캐릭터명+'_label" onClick="Char_on_off('+value+','+i+')"><span>'+e[i].캐릭터명+'</span><span></span></label><li>'
        }
      }
    }
    if(value == "아브렐슈드"){
      document.getElementById("server_group").innerHTML += '<div id="group"><div id="title">'+value+'</div><div id="contents"><ol id='+value+' class="switches"></ol></div></div>'
      for(var i = 0; i < f.length; i++){
        if(on_off.f[i] == "1"){
          document.getElementById("아브렐슈드").innerHTML += '<li><input checked id='+f[i].캐릭터명+'_label" type="checkbox"><label for='+f[i].캐릭터명+'_label" onClick="Char_on_off('+value+','+i+')"><span>'+f[i].캐릭터명+'</span><span></span></label><li>'
        }else{
          document.getElementById("아브렐슈드").innerHTML += '<li><input id='+f[i].캐릭터명+'_label" type="checkbox"><label for='+f[i].캐릭터명+'_label" onClick="Char_on_off('+value+','+i+')"><span>'+f[i].캐릭터명+'</span><span></span></label><li>'
        }
      }
    }
    if(value == "카단"){
      document.getElementById("server_group").innerHTML += '<div id="group"><div id="title">'+value+'</div><div id="contents"><ol id='+value+' class="switches"></ol></div></div>'
      for(var i = 0; i < g.length; i++){
        if(on_off.g[i] == "1"){
          document.getElementById("카단").innerHTML += '<li><input checked id='+g[i].캐릭터명+'_label" type="checkbox"><label for='+g[i].캐릭터명+'_label" onClick="Char_on_off('+value+','+i+')"><span>'+g[i].캐릭터명+'</span><span></span></label><li>'
        }else{
          document.getElementById("카단").innerHTML += '<li><input id='+g[i].캐릭터명+'_label" type="checkbox"><label for='+g[i].캐릭터명+'_label" onClick="Char_on_off('+value+','+i+')"><span>'+g[i].캐릭터명+'</span><span></span></label><li>'
        }
      }
    }
    if(value == "니나브"){
      document.getElementById("server_group").innerHTML += '<div id="group"><div id="title">'+value+'</div><div id="contents"><ol id='+value+' class="switches"></ol></div></div>'
      for(var i = 0; i < h.length; i++){
        if(on_off.h[i] == "1"){
          document.getElementById("니나브").innerHTML += '<li><input checked id='+h[i].캐릭터명+'_label" type="checkbox"><label for='+h[i].캐릭터명+'_label" onClick="Char_on_off('+value+','+i+')"><span>'+h[i].캐릭터명+'</span><span></span></label><li>'
        }else{
          document.getElementById("니나브").innerHTML += '<li><input id='+h[i].캐릭터명+'_label" type="checkbox"><label for='+h[i].캐릭터명+'_label" onClick="Char_on_off('+value+','+i+')"><span>'+h[i].캐릭터명+'</span><span></span></label><li>'
        }
      }
    }
  }

  function Char_on_off(name,number){
    var change_on_off = on_off;
    if(name.id == "루페온"){
      if(change_on_off.a[number] == 1){
        change_on_off.a[number] = 0
      }else{
        change_on_off.a[number] = 1
      }
      localStorage.setItem("on_off", JSON.stringify(change_on_off))
    }
    if(name.id == "실리안"){
      if(change_on_off.b[number] == 1){
        change_on_off.b[number] = 0
      }else{
        change_on_off.b[number] = 1
      }
      localStorage.setItem("on_off", JSON.stringify(change_on_off))
    }
    if(name.id == "아만"){
      if(change_on_off.c[number] == 1){
        change_on_off.c[number] = 0
      }else{
        change_on_off.c[number] = 1
      }
      localStorage.setItem("on_off", JSON.stringify(change_on_off))
    }
    if(name.id == "카마인"){
      if(change_on_off.d[number] == 1){
        change_on_off.d[number] = 0
      }else{
        change_on_off.d[number] = 1
      }
      localStorage.setItem("on_off", JSON.stringify(change_on_off))
    }
    if(name.id == "카제로스"){
      if(change_on_off.e[number] == 1){
        change_on_off.e[number] = 0
      }else{
        change_on_off.e[number] = 1
      }
      localStorage.setItem("on_off", JSON.stringify(change_on_off))
    }
    if(name.id == "아브렐슈드"){
      if(change_on_off.f[number] == 1){
        change_on_off.f[number] = 0
      }else{
        change_on_off.f[number] = 1
      }
      localStorage.setItem("on_off", JSON.stringify(change_on_off))
    }
    if(name.id == "카단"){
      if(change_on_off.g[number] == 1){
        change_on_off.g[number] = 0
      }else{
        change_on_off.g[number] = 1
      }
      localStorage.setItem("on_off", JSON.stringify(change_on_off))
    }
    if(name.id == "니나브"){
      if(change_on_off.h[number] == 1){
        change_on_off.h[number] = 0
      }else{
        change_on_off.h[number] = 1
      }
      localStorage.setItem("on_off", JSON.stringify(change_on_off))
    }
  }

  function ChaosDungeon(){
    var change_todo = todo;
    if(todo.d1 == "on"){
      change_todo.d1 = "off"
    }else{
      change_todo.d1 = "on"
    }
    localStorage.setItem("todo", JSON.stringify(change_todo))
  }
  function DailyEpona(){
    var change_todo = todo;
    if(todo.d2 == "on"){
      change_todo.d2 = "off"
    }else{
      change_todo.d2 = "on"
    }
    localStorage.setItem("todo", JSON.stringify(change_todo))
  }
  function Likeability(){
    var change_todo = todo;
    if(todo.d3 == "on"){
      change_todo.d3 = "off"
    }else{
      change_todo.d3 = "on"
    }
    localStorage.setItem("todo", JSON.stringify(change_todo))
  }
  function GuardianSubdue(){
    var change_todo = todo;
    if(todo.d4 == "on"){
      change_todo.d4 = "off"
    }else{
      change_todo.d4 = "on"
    }
    localStorage.setItem("todo", JSON.stringify(change_todo))
  }
  function Guild(){
    var change_todo = todo;
    if(todo.d6 == "on"){
      change_todo.d6 = "off"
    }else{
      change_todo.d6 = "on"
    }
    localStorage.setItem("todo", JSON.stringify(change_todo))
  }
  function GriefIsland(){
    var change_todo = todo;
    if(todo.d7 == "on"){
      change_todo.d7 = "off"
    }else{
      change_todo.d7 = "on"
    }
    localStorage.setItem("todo", JSON.stringify(change_todo))
  }
  function AdventureIsland(){
    var change_todo = todo;
    if(todo.d8 == "on"){
      change_todo.d8 = "off"
    }else{
      change_todo.d8 = "on"
    }
    localStorage.setItem("todo", JSON.stringify(change_todo))
  }
  function FieldBoss(){
    var change_todo = todo;
    if(todo.d9 == "on"){
      change_todo.d9 = "off"
    }else{
      change_todo.d9 = "on"
    }
    localStorage.setItem("todo", JSON.stringify(change_todo))
  }
  function ChaosGate(){
    var change_todo = todo;
    if(todo.d10 == "on"){
      change_todo.d10 = "off"
    }else{
      change_todo.d10 = "on"
    }
    localStorage.setItem("todo", JSON.stringify(change_todo))
  }

  function ChallengeGuardianSubdue(){
    var change_todo = todo;
    if(todo.w1 == "on"){
      change_todo.w1 = "off"
    }else{
      change_todo.w1 = "on"
    }
    localStorage.setItem("todo", JSON.stringify(change_todo))
  }
  function AbyssDungeon(){
    var change_todo = todo;
    if(todo.w2 == "on"){
      change_todo.w2 = "off"
    }else{
      change_todo.w2 = "on"
    }
    localStorage.setItem("todo", JSON.stringify(change_todo))
  }
  function AbyssRaid(){
    var change_todo = todo;
    if(todo.w3 == "on"){
      change_todo.w3 = "off"
    }else{
      change_todo.w3 = "on"
    }
    localStorage.setItem("todo", JSON.stringify(change_todo))
  }
  function WeeksEpona(){
    var change_todo = todo;
    if(todo.w4 == "on"){
      change_todo.w4 = "off"
    }else{
      change_todo.w4 = "on"
    }
    localStorage.setItem("todo", JSON.stringify(change_todo))
  }
  function Valtan(){
    var change_todo = todo;
    if(todo.w5 == "on"){
      change_todo.w5 = "off"
    }else{
      change_todo.w5 = "on"
    }
    localStorage.setItem("todo", JSON.stringify(change_todo))
  }
  function Biackiss(){
    var change_todo = todo;
    if(todo.w6 == "on"){
      change_todo.w6 = "off"
    }else{
      change_todo.w6 = "on"
    }
    localStorage.setItem("todo", JSON.stringify(change_todo))
  }
  function KoukuSaton(){
    var change_todo = todo;
    if(todo.w7 == "on"){
      change_todo.w7 = "off"
    }else{
      change_todo.w7 = "on"
    }
    localStorage.setItem("todo", JSON.stringify(change_todo))
  }
  function Abrelshud(){
    var change_todo = todo;
    if(todo.w8 == "on"){
      change_todo.w8 = "off"
    }else{
      change_todo.w8 = "on"
    }
    localStorage.setItem("todo", JSON.stringify(change_todo))
  }
  function KoukuSaton_Rehearsal(){
    var change_todo = todo;
    if(todo.w9 == "on"){
      change_todo.w9 = "off"
    }else{
      change_todo.w9 = "on"
    }
    localStorage.setItem("todo", JSON.stringify(change_todo))
  }
  function Abrelshud_Dejavu(){
    var change_todo = todo;
    if(todo.w10 == "on"){
      change_todo.w10 = "off"
    }else{
      change_todo.w10 = "on"
    }
    localStorage.setItem("todo", JSON.stringify(change_todo))
  }
  function ChaosDiagonal(){
    var change_todo = todo;
    if(todo.w11 == "on"){
      change_todo.w11 = "off"
    }else{
      change_todo.w11 = "on"
    }
    localStorage.setItem("todo", JSON.stringify(change_todo))
  }
  function PhantomShip(){
    var change_todo = todo;
    if(todo.w12 == "on"){
      change_todo.w12 = "off"
    }else{
      change_todo.w12 = "on"
    }
    localStorage.setItem("todo", JSON.stringify(change_todo))
  }
  function ChallengeAbyssDungeon(){
    var change_todo = todo;
    if(todo.w13 == "on"){
      change_todo.w13 = "off"
    }else{
      change_todo.w13 = "on"
    }
    localStorage.setItem("todo", JSON.stringify(change_todo))
  }

</script>
</html>
