<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/stylesheets/background.css">
  <link rel="stylesheet" href="/stylesheets/top_menu.css">
  <link rel="stylesheet" href="/stylesheets/home.css">
  
  <title>레온하트</title>
</head>
<body>
    <div id="menu">
        <div></div>

        <div id="menu_bar">
            <div class="logo"><a href="/">레온하트</a></div>
            </div>
        </div>

        <div></div>
    </div>
    <div id="main">
        <form action="/schedule/name_post" method="post">
            <input class="input" placeholder="캐릭터이름" type="text" id="name" name="user" style="background-color:transparent;"></input>
        </form>
    </div>

    <div class="explain">캐릭터 명을 입력하시면 레온하트의 서비스를 이용하실 수 있습니다.</div>
</body>
<script>
    localStorage.clear();
</script>
</html>
