@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
    --white: #e8e9ed;
    --gray: #434257;
    --blue: #18172c;
    --green: #00d084;
    --pink: #ff4b77;
}
*{
    font-family: 'SEBANG_Gothic_Bold';
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.myButton {
    margin-top: 1rem;
    margin-left: 3rem;
	color: white;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background: transparent !important;
	/* background-color: #009879; */
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	/* color:#000000; */
    font-family: 'SEBANG_Gothic_Bold';
	font-size:17px;
	/* font-weight:bold; */
	padding:12px 22px;
	/* text-decoration:none; */
	/* text-shadow:0px 1px 0px #ffffff; */
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}
label {
    cursor: pointer;
}
[type="checkbox"] {
    position: absolute;
    left: -9999px;
}
li{
   list-style:none;
   padding-left:0px;
}
.switches {
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
    color: var(--white);
    background: var(--blue);
}
.switches li:not(:last-child) {
    border-bottom: 1px solid var(--gray);
}

.switches li::before {
    content: counter(switchCounter);
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--pink);
}

.switches label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.switches span:last-child {
    position: relative;
    width: 50px;
    height: 26px;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    background: var(--gray);
    transition: all 0.3s;
}

.switches span:last-child::before,
.switches span:last-child::after {
    content: "";
    position: absolute;
}

.switches span:last-child::before {
    left: 1px;
    top: 1px;
    width: 24px;
    height: 24px;
    background: var(--white);
    border-radius: 50%;
    z-index: 1;
    transition: transform 0.3s;
}

.switches span:last-child::after {
    top: 50%;
    right: 8px;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/uncheck-switcher.svg);
    background-size: 12px 12px;
}

.switches [type="checkbox"]:checked + label span:last-child {
    background: var(--green);
}

.switches [type="checkbox"]:checked + label span:last-child::before {
    transform: translateX(24px);
}

.switches [type="checkbox"]:checked + label span:last-child::after {
    width: 14px;
    height: 14px;
    /*right: auto;*/
    left: 8px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/checkmark-switcher.svg);
    background-size: 14px 14px;
}

@media screen and (max-width: 600px) {
    .switches li::before {
      display: none;
    }
}
#editor{
    display: inline-flex;
}
#editor #group{
    margin-top: 1rem;
    margin-left: 3rem;
    width: 260px;
}
#editor #group #title_ticket{
    padding: 5px 0;
    background-color: #0096c6;
    text-align: center;
}
#editor #group #title_daily{
    padding: 5px 0;
    background-color: #08922F;
    text-align: center;
}
#editor #group #title_week{
    padding: 5px 0;
    background-color: #C5688B;
    text-align: center;
}
#editor #group #title{
    padding: 5px 0;
    background-color: #8B008B;
    text-align: center;
}
#server_group{
    display: inline-flex;
}