@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
	--hover_text_color: red;
}
body{
	font-family: 'SEBANG_Gothic_Bold';
	color: white;
}

.myButton {
	color: white;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background: transparent !important;
	/* background-color: #009879; */
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	/* color:#000000; */
    font-family: 'SEBANG_Gothic_Bold';
	font-size:17px;
	/* font-weight:bold; */
	padding:12px 22px;
	/* text-decoration:none; */
	/* text-shadow:0px 1px 0px #ffffff; */
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}
#server_select{
	width: 88.5%;
}
#edit{
	float: right;
}
#update{
	float: right;
}
#Initialization{
	float: right;
}
#schedule_main{
	margin-left: 8rem;
	margin-top: 1rem;
}
#schedule_table {
    border-collapse: collapse;
	white-space:nowrap;
    margin: 25px 0;
    font-size: 0.9em;
}
#schedule_table #character_list th{
    font-size: 1em;
	padding:0.5rem;
	border-bottom: #101421 5px solid;
    background-color: #009879;
    color: #ffffff;
	text-align: center;
}
#schedule_table td{
	/* padding-left: 1rem;
	padding-right: 1rem; */
	text-align: center;
}
.schedule_rows{
	display: grid;
	grid-template-columns: 30px 120px;
}
img{
	width: 30px;
	height: 30px;
}
#table_setting{
	width: 140px;
}
#visual_table{
	width:90%;
	overflow:auto;
}
th{
	position: sticky;
    background-color: #101421; /* 바탕을 불투명하게 처리해야 뒤로 숨은 다른 열들을 잘 가릴 수 있다 */
    left: 0;
    z-index: 1;
}
.schedule_list{
	vertical-align: middle;
	margin-top: 8px;
	text-align: left;
}
#ChaosDungeon:hover #list_ChaosDungeon{
	color:var(--hover_text_color);
}
#DailyEpona:hover #list_DailyEpona{
	color:var(--hover_text_color);
}
#Likeability:hover #list_Likeability{
	color:var(--hover_text_color);
}
#GuardianSubdue:hover #list_GuardianSubdue{
	color:var(--hover_text_color);
}
#Guild:hover #list_Guild{
	color:var(--hover_text_color);
}
#GriefIsland:hover #list_GriefIsland{
	color:var(--hover_text_color);
}
#AdventureIsland_daily:hover #list_AdventureIsland_daily{
	color:var(--hover_text_color);
}
#AdventureIsland_weeks:hover #list_AdventureIsland_weeks{
	color:var(--hover_text_color);
}
#FieldBoss:hover #list_FieldBoss{
	color:var(--hover_text_color);
}
#ChaosGate:hover #list_ChaosGate{
	color:var(--hover_text_color);
}

#ChallengeGuardianSubdue:hover #list_ChallengeGuardianSubdue{
	color:var(--hover_text_color);
}
#ChallengeAbyssDungeon:hover #list_ChallengeAbyssDungeon{
	color:var(--hover_text_color);
}
#AbyssDungeon:hover #list_AbyssDungeon{
	color:var(--hover_text_color);
}
#AbyssRaid:hover #list_AbyssRaid{
	color:var(--hover_text_color);
}
#WeeksEpona:hover #list_WeeksEpona{
	color:var(--hover_text_color);
}
#Valtan:hover #list_Valtan{
	color:var(--hover_text_color);
}
#Biackiss:hover #list_Biackiss{
	color:var(--hover_text_color);
}
#KoukuSaton:hover #list_KoukuSaton{
	color:var(--hover_text_color);
}
#Abrelshud:hover #list_Abrelshud{
	color:var(--hover_text_color);
}
#KoukuSaton_Rehearsal:hover #list_KoukuSaton_Rehearsal{
	color:var(--hover_text_color);
}
#Abrelshud_Dejavu:hover #list_Abrelshud_Dejavu{
	color:var(--hover_text_color);
}
#ChaosDiagonal:hover #list_ChaosDiagonal{
	color:var(--hover_text_color);
}
#PhantomShip:hover #list_PhantomShip{
	color:var(--hover_text_color);
}

#daily_contents{
	/* margin-top: 1rem; */
	border-top: #101421 1rem solid;
}
#daily_contents tr{
	border-left: #7AE67C 8px solid;
}
#weeks_contents{
	/* margin-top: 1rem; */
	border-top: #101421 1rem solid;
}
#weeks_contents tr{
	border-left: #E67AA3 8px solid;
}
input[type="checkbox"]{
	display: none;
}
label:hover{
	background-color: #212533;
}
input[type=checkbox] + label#daily { 
	text-align: center;
	padding: 0 40%;
	width: 20px;
	height: 20px;
	display: inline-block;
    cursor: pointer; 
    background-repeat: no-repeat;
    background-image: url('/images/icon/daily.png');
	background-size: 20px 20px;
	background-position: center center;
}
input[type=checkbox]:checked + label#daily {
	text-align: center;
	padding: 0 40%;
	width: 20px;
	height: 20px;
	display: inline-block;
    cursor: pointer; 
    background-repeat: no-repeat;
    background-image: url('/images/icon/daily_check.png');
	background-size: 20px 20px;
	background-position: center center;
}
input[type=checkbox]:disabled + label#daily {
	text-align: center;
	padding: 0 40%;
	width: 20px;
	height: 20px;
	display: inline-block;
    cursor: pointer; 
    background-repeat: no-repeat;
    background-image: url('/images/icon/daily_disable.png');
	background-size: 20px 20px;
	background-position: center center;
}
input[type=checkbox] + label#week { 
	text-align: center;
	padding: 0 40%;
	width: 20px;
	height: 20px;
	display: inline-block;
    cursor: pointer; 
    background-repeat: no-repeat;
    background-image: url('/images/icon/week.png');
	background-size: 20px 20px;
	background-position: center center;
}
input[type=checkbox]:checked + label#week {
	text-align: center;
	padding: 0 40%;
	width: 20px;
	height: 20px;
	display: inline-block;
    cursor: pointer; 
    background-repeat: no-repeat;
    background-image: url('/images/icon/week_check.png');
	background-size: 20px 20px;
	background-position: center center;
}
input[type=checkbox]:disabled + label#week {
	text-align: center;
	padding: 0 40%;
	width: 20px;
	height: 20px;
	display: inline-block;
    cursor: pointer; 
    background-repeat: no-repeat;
    background-image: url('/images/icon/week_disable.png');
	background-size: 20px 20px;
	background-position: center center;
}